 body {
            font-family: Arial, sans-serif;
            background: #f4f7fa;
            margin: 0;
            padding: 0;
        }
        header {
            background: #2a7b9b;
            color: white;
            padding: 20px;
            text-align: center;
        }
        .Group{
            text-align: right;
            padding-right: 3%;
            size: 10px;
        }
        .container {
            width: 90%;
            max-width: 900px;
            margin: 20px auto;
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        h2 {
            color: #2a7b9b;
        }
        .gallery {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            margin-top: 20px;
        }

        .photo {
                text-align: center;
                
        }

        .photo img {
            width: 100%;
            height: auto; 
            object-fit: contain;
            border-radius: 10px;
            box-shadow: 0 0 6px rgba(0,0,0,0.2);
        }

        
        footer {
            text-align: center;
            padding: 10px;
            margin-top: 20px;
            background: #eee;
        }
